# Normalization

### Normalization is a scaling Technique in which the values are rescaled between  the range ( 0 to 1 )

# Most Common Types of Normalization
* ##  Min Max 
* ##  Mean
* ##  Max Absolute
* ##  Robust 
* ##  Normalizer
* ##  QuantileTransformer
* ##  Unit Vector Scaler

In [1]:
import pandas as pd
from sklearn.preprocessing import Normalizer, MinMaxScaler ,MaxAbsScaler ,RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_wine
import numpy as np

In [2]:
df = load_wine()
df = pd.DataFrame(df.data,columns=df.feature_names)
x = df.iloc[:,0:2]
y = df.iloc[:,-1]
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)
xtrain

     alcohol  malic_acid
1      13.20        1.78
160    12.36        3.83
47     13.90        1.68
49     13.94        1.73
67     12.37        1.17
..       ...         ...
113    11.41        0.74
64     12.17        1.45
15     13.63        1.81
125    12.07        2.16
9      13.86        1.35

[158 rows x 2 columns]

# MinMax

### Data are scaled in the range 0 to 1


## formulae 

* ## X = x(i) - x_min / x_max - x_min

In [3]:
Mimx = MinMaxScaler()
Mimx.fit(xtrain)

Mimx_xtrain =  Mimx.transform(xtrain)
Mimx_xtest = Mimx.transform(xtest)

Mimx_xtrain = pd.DataFrame(Mimx_xtrain,columns=xtrain.columns)
Mimx_xtrain

      alcohol  malic_acid
0    0.571053    0.205534
1    0.350000    0.610672
2    0.755263    0.185771
3    0.765789    0.195652
4    0.352632    0.084980
..        ...         ...
153  0.100000    0.000000
154  0.300000    0.140316
155  0.684211    0.211462
156  0.273684    0.280632
157  0.744737    0.120553

[158 rows x 2 columns]

In [4]:
xtrain.describe()

          alcohol  malic_acid
count  158.000000  158.000000
mean    13.008418    2.366139
std      0.802923    1.129393
min     11.030000    0.740000
25%     12.370000    1.615000
50%     13.050000    1.875000
75%     13.677500    3.097500
max     14.830000    5.800000

In [5]:
Mimx_xtrain.describe()

          alcohol  malic_acid
count  158.000000  158.000000
mean     0.520636    0.321371
std      0.211295    0.223200
min      0.000000    0.000000
25%      0.352632    0.172925
50%      0.531579    0.224308
75%      0.696711    0.465909
max      1.000000    1.000000

# Means

### Data are scaled in the range -1 to 1
* ### but we are used Standarization instead of Means 

## formula
* ## X = x(i) -  xmean / xmax - xmin

### Note Sklearn don't have Means Function  
## So Created Manual Function

In [244]:
class Mean:
    
    columns_means = {}    
    min_val = {}
    max_val = {}
    
    new_data = None

    
    
    def __init__(self,data):
        self.data = data
        self.get_columns()
        self.get_min_max()
        self.Apply()
        
    def get_columns(self):
        
        for i in self.data.columns:
            Mean.columns_means.update({i:self.data[i].mean()})
    
    def get_min_max(self):
        
        for i in self.columns_means.keys():
            Mean.min_val.update({i:self.data[i].min()})
        
        for i in self.columns_means.keys():
            Mean.max_val.update({i:self.data[i].max()})
    
    def Apply(self):
        new = []
        for k,v in self.columns_means.items():
            
            col = k
            mean = v
            min_ = self.min_val.get(k)
            max_ = self.max_val.get(k)
            new.append(np.array((self.data[col]-mean) / (max_- min_)))
        
        new_data = {}
        for i in range(len(self.columns_means)):
            new_data.update({list(self.columns_means.keys())[i] : new[i]})
        
        
        new_data = pd.DataFrame(new_data)
        Mean.new_data = new_data

In [252]:
Mean(x).new_data

      alcohol  malic_acid
0    0.323522   -0.123784
1    0.052469   -0.109950
2    0.041943    0.004674
3    0.360364   -0.076353
4    0.062995    0.050129
..        ...         ...
173  0.186679    0.654872
174  0.105101    0.310998
175  0.070890    0.384121
176  0.044574    0.050129
177  0.297206    0.348548

[178 rows x 2 columns]

In [255]:
np.round(Mean(x).new_data.describe(),1)

       alcohol  malic_acid
count    178.0       178.0
mean       0.0         0.0
std        0.2         0.2
min       -0.5        -0.3
25%       -0.2        -0.1
50%        0.0        -0.1
75%        0.2         0.1
max        0.5         0.7

# Max Absolute

### when maximum 0 in the data then we are used Max Absolute

## formulae

* ## X = x(i) / |x_max|

In [9]:
from sklearn.preprocessing import MaxAbsScaler
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

ma = MaxAbsScaler()
ma.fit(xtrain)

MaxAbsScaler()

In [10]:
ma_xtrain = ma.transform(xtrain)
ma.transform(xtest)

ma_xtrain= pd.DataFrame(ma_xtrain,columns= xtrain.columns)
ma_xtrain

      alcohol  malic_acid
0    0.890088    0.306897
1    0.833446    0.660345
2    0.937289    0.289655
3    0.939987    0.298276
4    0.834120    0.201724
..        ...         ...
153  0.769386    0.127586
154  0.820634    0.250000
155  0.919083    0.312069
156  0.813891    0.372414
157  0.934592    0.232759

[158 rows x 2 columns]

In [11]:
np.round(ma_xtrain.describe(),1)

       alcohol  malic_acid
count    158.0       158.0
mean       0.9         0.4
std        0.1         0.2
min        0.7         0.1
25%        0.8         0.3
50%        0.9         0.3
75%        0.9         0.5
max        1.0         1.0

# Robust

### Handling the outliers

## formulae

* ## X = x(i) - x_median / x75 percentile - x25 percentile

In [12]:
from sklearn.preprocessing import RobustScaler
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

rc = RobustScaler()
rc.fit(xtrain)

new = rc.transform(xtrain)
rc.transform(xtest)

new = pd.DataFrame(new)
new

            0         1
0    0.114723 -0.064081
1   -0.527725  1.318718
2    0.650096 -0.131535
3    0.680688 -0.097808
4   -0.520076 -0.475548
..        ...       ...
153 -1.254302 -0.765599
154 -0.673040 -0.286678
155  0.443595 -0.043845
156 -0.749522  0.192243
157  0.619503 -0.354132

[158 rows x 2 columns]

In [13]:
np.round(new.describe(),1)

           0      1
count  158.0  158.0
mean    -0.0    0.3
std      0.6    0.8
min     -1.5   -0.8
25%     -0.5   -0.2
50%      0.0    0.0
75%      0.5    0.8
max      1.4    2.6

# Normalizer

In [14]:
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

In [15]:
nor = Normalizer()
nor.fit(xtrain)

Normalizer()

In [16]:
norm_data = nor.fit_transform(xtest)
normds = pd.DataFrame(norm_data)
normds

           0         1
0   0.995284  0.097001
1   0.989578  0.143999
2   0.993347  0.115160
3   0.992355  0.123415
4   0.992930  0.118705
5   0.993483  0.113980
6   0.991703  0.128554
7   0.962816  0.270157
8   0.984650  0.174539
9   0.988469  0.151425
10  0.975133  0.221621
11  0.997046  0.076813
12  0.991960  0.126555
13  0.994261  0.106977
14  0.980855  0.194740
15  0.997125  0.075772
16  0.958931  0.283638
17  0.996792  0.080034
18  0.950655  0.310249
19  0.966346  0.257245

In [17]:
np.round(normds.describe(),1)

          0     1
count  20.0  20.0
mean    1.0   0.2
std     0.0   0.1
min     1.0   0.1
25%     1.0   0.1
50%     1.0   0.1
75%     1.0   0.2
max     1.0   0.3

# QuantileTransformer

In [18]:
from sklearn.preprocessing import QuantileTransformer
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

In [19]:
QT=QuantileTransformer(n_quantiles=20)

In [20]:
QT.fit(xtrain)

QuantileTransformer(n_quantiles=20)

In [21]:
QT_data = pd.DataFrame(QT.fit_transform(xtest))
QT_data

           0         1
0   0.157895  0.157895
1   0.078947  0.526316
2   0.789474  0.421053
3   0.078947  0.315789
4   1.000000  0.473684
5   0.210526  0.263158
6   0.421053  0.368421
7   1.000000  1.000000
8   0.894737  0.736842
9   0.842105  0.631579
10  0.736842  0.789474
11  0.631579  0.105263
12  0.684211  0.578947
13  0.473684  0.210526
14  0.315789  0.684211
15  0.368421  0.000000
16  0.578947  0.947368
17  0.263158  0.052632
18  0.000000  0.894737
19  0.526316  0.842105

In [22]:
np.round(QT_data.describe(),1)

          0     1
count  20.0  20.0
mean    0.5   0.5
std     0.3   0.3
min     0.0   0.0
25%     0.2   0.2
50%     0.5   0.5
75%     0.8   0.8
max     1.0   1.0

# Unit Vector Scaler

# L1 Norm

In [23]:
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

In [24]:
xtrain.apply(lambda x : x/np.linalg.norm(x,1))

      alcohol  malic_acid
1    0.006422    0.004761
160  0.006014    0.010245
47   0.006763    0.004494
49   0.006782    0.004628
67   0.006018    0.003130
..        ...         ...
113  0.005551    0.001979
64   0.005921    0.003879
15   0.006632    0.004842
125  0.005873    0.005778
9    0.006743    0.003611

[158 rows x 2 columns]

# L2 Norm

In [25]:
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

In [26]:
xtrain.apply(lambda x : x/np.linalg.norm(x,2))

      alcohol  malic_acid
1    0.080575    0.054043
160  0.075448    0.116283
47   0.084848    0.051007
49   0.085092    0.052525
67   0.075509    0.035522
..        ...         ...
113  0.069649    0.022467
64   0.074288    0.044024
15   0.083200    0.054954
125  0.073677    0.065580
9    0.084604    0.040987

[158 rows x 2 columns]