# Normalization

### Normalization is a scaling Technique in which the values are rescaled between  the range ( 0 to 1 )

# Most Common Types of Normalization
* ##  Min Max 
* ##  Mean
* ##  Max Absolute
* ##  Robust

In [2]:
import pandas as pd
from sklearn.preprocessing import Normalizer, MinMaxScaler ,MaxAbsScaler ,RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_wine
import numpy as np

In [3]:
df = load_wine()
df = pd.DataFrame(df.data,columns=df.feature_names)
x = df.iloc[:,0:2]
y = df.iloc[:,-1]
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)
xtrain

     alcohol  malic_acid
1      13.20        1.78
160    12.36        3.83
47     13.90        1.68
49     13.94        1.73
67     12.37        1.17
..       ...         ...
113    11.41        0.74
64     12.17        1.45
15     13.63        1.81
125    12.07        2.16
9      13.86        1.35

[158 rows x 2 columns]

# MinMax

### Data are scaled in the range 0 to 1


## formulae 

* ## X = x(i) - x_min / x_max - x_min

In [4]:
Mimx = MinMaxScaler()
Mimx.fit(xtrain)

Mimx_xtrain =  Mimx.transform(xtrain)
Mimx_xtest = Mimx.transform(xtest)

Mimx_xtrain = pd.DataFrame(Mimx_xtrain,columns=xtrain.columns)
Mimx_xtrain

      alcohol  malic_acid
0    0.571053    0.205534
1    0.350000    0.610672
2    0.755263    0.185771
3    0.765789    0.195652
4    0.352632    0.084980
..        ...         ...
153  0.100000    0.000000
154  0.300000    0.140316
155  0.684211    0.211462
156  0.273684    0.280632
157  0.744737    0.120553

[158 rows x 2 columns]

In [5]:
xtrain.describe()

          alcohol  malic_acid
count  158.000000  158.000000
mean    13.008418    2.366139
std      0.802923    1.129393
min     11.030000    0.740000
25%     12.370000    1.615000
50%     13.050000    1.875000
75%     13.677500    3.097500
max     14.830000    5.800000

In [6]:
Mimx_xtrain.describe()

          alcohol  malic_acid
count  158.000000  158.000000
mean     0.520636    0.321371
std      0.211295    0.223200
min      0.000000    0.000000
25%      0.352632    0.172925
50%      0.531579    0.224308
75%      0.696711    0.465909
max      1.000000    1.000000

# Means

### Data are scaled in the range -1 to 1
* ### but we are used Standarization instead of Means 

## formula
* ## X = x(i) -  xmean / xmax - xmin

### Note Sklearn don't have Means Function  
## So Created Manual Function

In [1]:
def mean(dt):
    col = dt.columns
    m = dict()

    for i in col:
        m.update({i:  {"mean":np.round(np.mean(dt[i]),2)}  })
        m[i].update({"max":max(dt[i])})
        m[i].update({"min":min(dt[i])})
        
    val = dict()
    for i in col:
        val.update({i: {} })
    
    no = 0
    for c in col:
        for i in dt[c]:
            val[c].update({no:(i-m.get(c).get("mean"))/(m.get(c).get("max")-m.get(c).get("min"))})
            no += 1

    ds = {}
    for k,i in val.items():
        ds.update({k:list(i.values())})
    
    return pd.DataFrame(ds)

In [12]:
M_xtrain = mean(xtrain)
M_xtest = mean(xtest)
M_xtrain

      alcohol  malic_acid
0    0.050000   -0.116601
1   -0.171053    0.288538
2    0.234211   -0.136364
3    0.244737   -0.126482
4   -0.168421   -0.237154
..        ...         ...
153 -0.421053   -0.322134
154 -0.221053   -0.181818
155  0.163158   -0.110672
156 -0.247368   -0.041502
157  0.223684   -0.201581

[158 rows x 2 columns]

In [11]:
np.round(M_xtrain.describe(),1)

       alcohol  malic_acid
count    158.0       158.0
mean      -0.0        -0.0
std        0.2         0.2
min       -0.5        -0.3
25%       -0.2        -0.1
50%        0.0        -0.1
75%        0.2         0.1
max        0.5         0.7

# Max Absolute

### when maximum 0 in the data then we are used Max Absolute

## formulae

* ## X = x(i) / |x_max|

In [32]:
from sklearn.preprocessing import MaxAbsScaler
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

ma = MaxAbsScaler()
ma.fit(xtrain)

MaxAbsScaler()

In [33]:
ma_xtrain = ma.transform(xtrain)
ma.transform(xtest)

ma_xtrain= pd.DataFrame(ma_xtrain,columns= xtrain.columns)
ma_xtrain

      alcohol  malic_acid
0    0.890088    0.306897
1    0.833446    0.660345
2    0.937289    0.289655
3    0.939987    0.298276
4    0.834120    0.201724
..        ...         ...
153  0.769386    0.127586
154  0.820634    0.250000
155  0.919083    0.312069
156  0.813891    0.372414
157  0.934592    0.232759

[158 rows x 2 columns]

In [36]:
np.round(ma_xtrain.describe(),1)

       alcohol  malic_acid
count    158.0       158.0
mean       0.9         0.4
std        0.1         0.2
min        0.7         0.1
25%        0.8         0.3
50%        0.9         0.3
75%        0.9         0.5
max        1.0         1.0

# Robust

### Handling the outliers

## formulae

* ## X = x(i) - x_median / x75 percentile - x25 percentile

In [37]:
from sklearn.preprocessing import RobustScaler
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

rc = RobustScaler()
rc.fit(xtrain)

new = rc.transform(xtrain)
rc.transform(xtest)

new = pd.DataFrame(new)
new

            0         1
0    0.114723 -0.064081
1   -0.527725  1.318718
2    0.650096 -0.131535
3    0.680688 -0.097808
4   -0.520076 -0.475548
..        ...       ...
153 -1.254302 -0.765599
154 -0.673040 -0.286678
155  0.443595 -0.043845
156 -0.749522  0.192243
157  0.619503 -0.354132

[158 rows x 2 columns]

In [39]:
np.round(new.describe(),1)

           0      1
count  158.0  158.0
mean    -0.0    0.3
std      0.6    0.8
min     -1.5   -0.8
25%     -0.5   -0.2
50%      0.0    0.0
75%      0.5    0.8
max      1.4    2.6